.choresText {
   color: brown;
   font-family: 'Times New Roman', Times, serif;
   font-size: 1.1vw; 
   font-style: italic;
   
   
}

.choresHeading {
   color: blueviolet;
   text-decoration: underline;
   
}